.img-grey{
    background: #eae7e8;
    width: 100%;
    /* text-align: center; */
    /* padding-left: 200px; */
}
.img-grey img{
    height: 200px;
    
}
.img-grey div{
    text-align: center;
}

 /* .img10{
   text-align: center;
}
.container-fluid{
    display: flex;
} */